@import 'vars.scss';
@import 'mixins.scss';

.players-form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  > * {
    margin: 5px 0;
  }
}

.players-form__field {
  display: flex;
  align-items: center;
}

.players-form__input {
  border: solid 1px;
  color: $light-color;
  background-color: lighten($dark-color, 10);
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  @include neon-effect();
  margin-right: 10px;
}

.players-form__submit {
  width: 100%;
}
